.title{
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}

.title-center{
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    text-align: center;
}

#tooltips .md-button{
  margin-left: 6px;
}

#notifications .alert {
  border-radius: 0;
}

#typography h1, #typography h2, #typography h3,
#typography h4, #typography h5, #typography h6{
    margin-bottom: 0;
}

.space{
    height: 130px;
    display: block;
}
.space-110{
    height: 110px;
    display: block;
}
.space-50{
    height: 50px;
    display: block;
}
.space-70{
    height: 70px;
    display: block;
}

#notifications{
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    position: relative;
}
#notifications .alert-danger{
    margin-bottom: 0px;
}

#buttons .md-button{
    margin: 0 2px 15px;
}
.space-100{
    height: 100px;
    display: block;
    width: 100%;
}

.separator{
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}
.separator-line{
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}
.separator.separator-gray{
    background-color: #EEEEEE;
}

.img-container{
    width: 100%;
    overflow: hidden;
}
.img-container img{
    width: 100%;
}

#images h4{
    margin-bottom: 30px;
}
#javascriptComponents{
    padding-bottom: 0;
}

.sharing-area{
    margin-top: 80px;
}
.sharing-area .md-button{
    margin: 15px 4px 0;
    color: #FFFFFF;
}

#navbar {
    margin-bottom: -20px;
}

.section-notifications{
    padding: 0;
}
.section-navbars{
    padding-top: 0;
    padding-bottom: 0;
}
#navigation .md-toolbar{
    border-radius: 0;
}

#navigation .md-dark,
#menu,
#menu .md-primary {
  z-index: 9999;
  position: relative;
}

.navbar-logo {
    width: 180px;
}

.parent {
    display: flex;
}
.child1 {
    flex: 1;
    margin-right: 50px;
}
.child2 {
    flex: 4;
}

.mwork-description {
    margin-left: 30px;
    padding: 50px;
}

.question {
    position: relative;
    left: 50px;
    max-width: 100px;
}

.answer {
    position: relative;
    left: 200px;
    max-width: 300px;
}

.between-blank-10 {
    margin-right: 10px;
}

.between-blank-50 {
    margin-right: 50px;
}

div.left {
    width: 30%;
    float: left;
    text-align: center;
}
div.center {
    width: 20%;
    text-align: center;
}
div.right {
    width: 50%;
    float: right;
    text-align: center;
}

.left49 {
    width: 49%;
    float: left;
    text-align: center;
}
.right49 {
    width: 49%;
    float: right;
    text-align: center;
}